@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Main Stuff */

/* Navbar */
.navbar {
    background: #fff;
    clear: both;
    margin: 0 0 1.375rem;
    padding-top: .6875rem;
    position: relative;
    width: 100%;
    z-index: 998;
    text-align: center;
}
.flexNav {
    display: flex;
    justify-content: center;
}
.logo {
    height: 1.4rem;
}
.navMenu {
    position: absolute;
    left: .6875rem;
    top: .3375rem;
    font-size: 2.3rem !important;
    font-weight: 400 !important;
    stroke: black;
    stroke-width: 10;
}
.navRight {
    position: absolute;
    right: .6875rem;
    top: .5375rem;
    z-index: 550;
}
.navRight * {
    font-size: 30px !important;
}
.subscribeButton {
    margin-top: .6875rem;
    padding: .6875rem 0;
    text-align: center;
}
.headerSubscribe {
    width: 15rem;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    padding: .25833rem;
    border: none;
    background-color: #00b3e5;
    font: 16px 'Titillium Web', Arial, Helvetica, sans-serif;
    font-weight: 700;
    border-radius: 2px;
    box-sizing: inherit;
}
/* do scrolling box shadow later */

/* Header */
.article {
    margin: 0 0 1.375rem;
    padding-top: 1rem;
    width: 95%;
    margin: auto;
}
.articleHeader {
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    flex: 1 0 auto;
    width: 100%;
}
.articleTitle {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -.0375rem;
    line-height: 2.1875rem;
    margin: 0 0 .93747rem;
}
.shareOptions {
    display: flex;
    align-items: center;
    margin: 0 0 .6875rem;
}
.option {
    width: 30px;
    margin-right: .71667rem;
    border-radius: 9999px;
}
.redditShare {
    width: 35px;
}
.emailShare {
    width: 31px;
}
.printerShare {
    width: 34px;
}
.storyInformation {
    margin: 0 0 .6875rem;
}
.articleCategory {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
.articleDate {
    color: #4d4d4d;
}

/* Actual Article */
.articleContent {
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
}
.articleAuthor {
    font-size: 1rem;
    line-height: 1.1875rem;
    font-weight: 400;
    margin: 0 0 .6875rem;
    color: #4d4d4d;
}
.authorName {
    color: #00b3e5;
    font-weight: 700;
}
.articleImage {
    background-color: #696969;
    color: #696969;
    display: block;
    height: auto;
    width: 100%;
}
.imageCaption {
    color: #484848;
    font-size: .75rem;
    line-height: .9375rem;
    font-weight: 700;
}
.imageCredits {
    font-size: .75rem;
    line-height: .9375rem;
    color: #4d4d4d;
    margin-bottom: 1.5rem;
}
/* article contents */
.articleParagraph {
    font-family: "PT Serif", Georgia, serif;
    font-size: 1.0625rem;
    line-height: 1.5625rem;
    color: #4d4d4d;
    margin: 0 0 .6875rem;
}
.readMore {
    background: #f5f5f5;
    display: inline-block;
    margin: 1.375rem 0;
    padding: .6875rem;
}
.relatedStory {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.1875rem;
    margin: 0 0 0 .34375rem;
}
.articleReference {
    color: #4d4d4d;
    margin: 0 0 .6875rem;
}
.referenceBold {
    font-weight: 700;
}
.referenceItalic {
    color: #4d4d4d;
    font-family: "PT Serif", Georgia, serif;
    font-style: italic;
}
.launchpadAd {
    color: #4d4d4d;
    font-family: "PT Serif", Georgia, serif;
    font-style: italic;
    margin: 0 0 .6875rem;
}
.moreTopics {
    display: flex;
    align-items: baseline;
    display: flex;
    padding: 1.375rem 0 0;
    width: 100%;
    margin: 0 0 1.2rem;
}
.moreTopicsPara {
    color: #4d4d4d;
    font-weight: 700;
    margin: 0 .6875rem 0 0;
}
.topicButtons {
    margin: 0 0 .6875rem;
    width: 9.2rem;
    display: flex;
    justify-content: space-between;
}
.topicButton {
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.1875rem;
    background: #005587;
    padding: .45833rem;
    text-transform: uppercase;
    border: none;
    border-radius: .188rem;
    cursor: pointer;
    transition: 0.2s;
}
.topicButton:hover {
    background-color: #288eb7;
}

/* Grid */
.moreArticle {
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
}
.filters {
    display: flex;
}
.filter {
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    background-color: #f5f5f5;
    border: none;
    border-right: 3px solid #fff;
    cursor: pointer;
    outline: none;
    padding: .45833rem;
    transition: .3s;
    line-height: 1.0625rem;
    font-weight: 700;
    flex: 1 0 auto;
}
.filter:last-child {
    border: none;
}
.currentFilter {
    background-color: #00b3e5;
    color: #fff;
}
.storyInfo {
    color: #4d4d4d;
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    border-top: 3px solid #fff;
    padding: .6875rem;
}
.storyName {
    flex: 1;
    margin-right: 1.375rem;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -.0375rem;
    line-height: 25px;
}
.storyRank {
    align-self: center;
    color: #00b3e5;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.1875rem;
}

/* shareOptions and issue */
.shareIssue {
    margin: 0 0 1.375rem;
    padding-top: 3.5rem;
    width: 100%;
}
.shareOptionsFooter {
    margin-bottom: 1.975rem;
}
.issuePromotion {
    display: flex;
    flex: 0 0 auto;
}
.issueImage {
    padding-right: 0.8rem;
}
.issueLink {
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #fff;
    width: 100%;
    border: none;
    display: inline-block;
    line-height: 1rem;
    padding: .45833rem;
    transition: 0.2s;
    text-transform: uppercase;
    line-height: 1rem;
    font-size: 1rem;
    margin: 0 0 .6875rem;
    border-radius: 4px;
}
.subscribeLink {
    background: #00b3e5;
}
.viewLink {
    background: #20b2aa;
}
.buyLink {
    background: red;
}

/* moreNews */
.scientistStory {
    margin-bottom: 1.375rem;
}
.moreNewsHeader {
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.6875rem;
    width: 100%;
    margin: 0 0 .93747rem;
    margin-top: 5rem;
}
.moreNewsImageDiv {
    position: relative;
}
.moreNewsImage {
    /*change width for media query*/
    width: 100%;
    margin-bottom: .6875rem;
    overflow: hidden;
    pointer-events: none;
    position: relative;
    transition: 0.2s;
}
.storyGenre {
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    background-color: #484848;
    padding: .45833rem;
    position: absolute;
    z-index: 15;
    top: 0;
    left: 0;
}
.storyGenreLink {
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: .875rem;
    line-height: 1.0625rem;
    text-transform: uppercase;
}
.cardHeading {
    font-size: 1.375rem;
    font-weight: 700;
    letter-spacing: -.0375rem;
    pointer-events: none;
    transition: 0.2s;
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
}
.humanGenre {
    background-color: #79227d;
}
.healthGenre {
    background-color: #20bc9e;
}

/* website footer */
